
.selectioncategorie{
	display: flex;
	justify-content: center;
}
.boxarticleacceuil{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-areas: "article1 article2 article3";
}
.article1 {
	 grid-area: "article1";
	 border: solid 1px; 
	 padding: 5%;
	 margin-left: 4%;
	 box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);
	 margin-right: 4%;
	}
.article2 { 
	grid-area: "article2"; 
	border: solid 1px;
	padding: 5%;
	margin-left: 4%;
	box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);
	margin-right: 4%;
}
.article3 { 
	grid-area: "article3"; 
	border: solid 1px;
	padding: 5%;
	margin-left: 4%;
	box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);
	margin-right: 4%;
}
.articlebox{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.titrecat{padding: 2%;}
.articlebox0 { grid-area: 1 / 1 / 2 / 2;text-align: center;width: 30%;margin:auto;margin-top:5%;box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);border: solid 1px;padding: 2%; }
.articlebox1 { grid-area: 2 / 1 / 3 / 2;text-align: center;width: 30%;margin:auto;margin-top:5%;box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);border: solid 1px;padding: 2%; }
.articlebox2 { grid-area: 3 / 1 / 4 / 2;text-align: center;width: 30%;margin:auto;margin-top:5%;box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);border: solid 1px;padding: 2%; }
.articlebox3 { grid-area: 4 / 1 / 5 / 2;text-align: center;width: 30%;margin:auto;margin-top:5%;box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);border: solid 1px;padding: 2%; }
.articlebox4 { grid-area: 5 / 1 / 6 / 2;text-align: center;width: 30%;margin:auto;margin-top:5%;box-shadow: 10px 10px 5px 0px rgba(139, 50, 50, 0.75);border: solid 1px;padding: 2%; }


.flexc
{
	display:flex;
	flex-direction:column;
}

.flexr
{
	display:flex;
	flex-direction:row;
}

.center
{
	align-self:center;
}

.just-center
{
	justify-content:center;
}

.just-between
{
	justify-content:space-between;
}

.just-around
{
	justify-content:flex-around;
}

.just-evenly
{
	justify-content:space-evenly;
}

.just-start
{
	justify-content:flex-start;
}

.just-end
{
	justify-content:flex-end;
}

.just-even
{
	justify-content:space-evenly;
}

.align-start
{
	align-self:flex-start;
}

.wrap
{
	flex-wrap:wrap;
}

.mp0
{
	margin:0px;
	padding:0px;
}

.a-null
{
	text-decoration:none;
}

.text-black
{
	color:black;
}

.text-center
{
	text-align:center;
}