
.flexc
{
	display:flex;
	flex-direction:column;
}

.flexr
{
	display:flex;
	flex-direction:row;
}

.center
{
	align-self:center;
}

.just-center
{
	justify-content:center;
}

.just-between
{
	justify-content:space-between;
}

.just-around
{
	justify-content:flex-around;
}

.just-evenly
{
	justify-content:space-evenly;
}


.just-start
{
	justify-content:flex-start;
}

.just-end
{
	justify-content:flex-end;
}

.just-even
{
	justify-content:space-evenly;
}

.align-start
{
	align-self:flex-start;
}

.wrap
{
	flex-wrap:wrap;
}

.mp0
{
	margin:0px;
	padding:0px;
}

.a-null
{
	text-decoration:none;
}

.text-black
{
	color:black;
}

.text-center
{
	text-align:center;
}